<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<style>
  .box{
    background-color: bisque;
    border: 1px solid red;
    display: flex;
    /* justify-content: space-between; */
    justify-content: space-around;
  }
  .box div{
    border: solid 1px black;
    height: 21px;
    width: 66px;
    line-height: 21px;
    display: inline-block;
    text-align: center;
    line-height: 21px;
  }
  .sl:hover{
    border: 0px;
    height: 23px;
    width: 68px;
    line-height: 23px;
  }
</style>
<body>
  <div class="box">
    <div>211111</div>
    <div>2222222</div>
    <div class="sl">3333333</div>
  </div>
</body>
</html>